body{
font-family: Arial;
margin:0;
background:#fdf6e3;
}

header{
background:#ff6f61;
color:white;
padding:15px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.container{
padding:20px;
background:white;
margin:20px;
border-radius:10px;
box-shadow:0 0 10px gray;
}

h1{
color:#fff;
}

h2{
color:#ff6f61;
}

button{
background:#ff6f61;
color:white;
border:none;
padding:10px;
border-radius:5px;
}
iframe{
margin-top:10px;
margin-bottom:40px;
border-radius:10px;
box-shadow:0 0 10px gray;
}
